ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333
  opacity: 50% ;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

ol {
  font-size: 23px;
}

body {
  background-color: #DAAD86
}

body {
  font-family: 'Maven Pro', sans-serif;
}

h1 {
  font-family: 'Patrick Hand', cursive;
  color: black;
  font-size: 400%;
  text-shadow: 2px 2px 7px orange;
}
